
# ⚠️ Rename this file to credentials.yaml and fill in with your test credentials.
# Do NOT commit credentials.yaml to GitHub (add it to .gitignore).

ebay:
  username: "your_email@example.com"
  password: "your_password_here"

github:
  username: "your_github_username"
  password: "your_github_password"

wikipedia:
  username: "your_wiki_username"
  password: "your_wiki_password"
